<section class="header">
  <div class="header">
    <h1>Nom du livre</h1>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Force</th>
          <th scope="col">intelligence</th>
          <th scope="col">Or</th>
          <th scope="col">Agilité</th>
          <th scope="col"><span class="material-icons"><a href="">business_center</a></span></th>
        </tr>
      </thead>
      </table>
  </div>
</section>

<body>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Nom du chapitre</div>
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore quisquam vitae architecto eos
      excepturi incidunt.Velit perferendis quam quis, fugiat ut nemo aperiam fuga ipsum ad, aspernatur porro asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore quisquam vitae architecto eos
      excepturi incidunt.Velit perferendis quam quis, fugiat ut nemo aperiam fuga ipsum ad, aspernatur porro asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore quisquam vitae architecto eos
      excepturi incidunt.Velit perferendis quam quis, fugiat ut nemo aperiam fuga ipsum ad, aspernatur porro asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore quisquam vitae architecto eos
      excepturi incidunt.Velit perferendis quam quis, fugiat ut nemo aperiam fuga ipsum ad, aspernatur porro asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore quisquam vitae architecto eos
      excepturi incidunt.Velit perferendis quam quis, fugiat ut nemo aperiam fuga ipsum ad, aspernatur porro asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore quisquam vitae architecto eos
      excepturi incidunt.Velit perferendis quam quis, fugiat ut nemo aperiam fuga ipsum ad, aspernatur porro asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore quisquam vitae architecto eos
      excepturi incidunt.Velit perferendis quam quis, fugiat ut nemo aperiam fuga ipsum ad, aspernatur porro asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore quisquam vitae architecto eos
      excepturi incidunt.Velit perferendis quam quis, fugiat ut nemo aperiam fuga ipsum ad, aspernatur porro asperiores.
</p>
  </div>
</div>
<div class="btn">
  <button type="button" class="btn btn-primary">Primary</button>
</div>
</body>
